@model ChatWithFriends.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            background: no-repeat center center;
            background-image: url('/img/loginbackground.png');
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            border: 2px solid #fff;
            box-shadow: 0 0 60px #000;
            backdrop-filter: blur(5px);
            padding: 20px;
            max-width: 600px;
            width: 100%;
            margin: auto;
        }

        .form {
            color: #fff;
        }

            .form h2 {
                margin-bottom: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid #fff;
            }

            .form .form-group {
                margin-bottom: 20px;
            }

            .form label {
                line-height: 2;
            }

            .form input {
                width: 100%;
                border: 1px solid #aaa;
                line-height: 2;
                padding: 8px;
                border-radius: 5px;
            }

            .form .form-group-btn {
                font-size: 0;
            }

            .form .btn {
                font-size: 20px;
                border-radius: 5px;
                border: none;
                background-color: #6ab4fe;
                width: 100%;
                padding: 10px 0;
            }
    </style>
</head>
<body>
    <div class="login">
        <div class="form">
            <h2 class="text-center">登入</h2>
            <form id="loginForm" action="Login" method="post">
                <div class="text-danger"></div>
                <div class="form-group">
                    <label for="Accont" class="control-label">帳戶</label>
                    <input id="Accont" name="Accont" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Password" class="control-label">密碼</label>
                    <input type="password" id="Password" name="Password" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group form-group-btn">
                    <button type="submit" class="btn btn-primary btn-block">登入</button>
                </div>
            </form>
        </div>
    </div>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
